@{
    ViewData["Title"] = "Home Page";
}

@model List<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a class="btn btn-primary" asp-controller="Role" asp-action="AddRole">Yeni rol ekleme</a>
<br />
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">Görev Id</th>
            <th scope="col">Görev İçeriği</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
            </tr>
        }
    </tbody>
</table>